@using Sc.Mvc.PartialLayoutPresets
@using Sitecore.Mvc
<div style="border: 2px dashed gray;border-bottom:none;">
    @Html.Sitecore().Placeholder(Consts.PartialLayoutPresetPlaceholderKey)
</div>
<div style="background-color:gray;color:white;text-align:right;padding-right:5px;">Preset container</div>