<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getPlaceholderRenderings>
        <processor type="Sc.Mvc.PartialLayoutPresets.Pipelines.GetPlaceholderRenderings.GetAllowedPartialLayoutPresets, Sc.Mvc.PartialLayoutPresets" patch:before="processor[1]">
          <locations hint="list">
            <location>{1ECBC6BC-9042-45A0-B1FA-94D116B501ED}</location>
            <location>{40457183-1D9E-4A69-9E80-FB64E1CD69F1}</location>
          </locations>
        </processor>
      </getPlaceholderRenderings>
      <executePageEditorAction>
        <processor type="Sc.Mvc.PartialLayoutPresets.Pipelines.ExecutePageEditorAction.InsertPartialLayoutPreset, Sc.Mvc.PartialLayoutPresets" patch:instead="processor[@type='Sitecore.Pipelines.ExecutePageEditorAction.InsertRendering, Sitecore.ExperienceEditor']" />
      </executePageEditorAction>
    </pipelines>
  </sitecore>
</configuration>